.background {
    background-color: #2d545e;
}

.background:hover {
    background-color: #0d414e;
}

.card-title {
    height: 100px;
}

.card-text {
    height: 200px;
}

.card-source {
    padding: 5px;
    background-color: #cc6868;
    font-size: 12px;
}